<% title "Member Delete Account" %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
  <% if user_signed_in? and viewing_self?(@profile) %>
	<li><%= subscriber? ? link_to("Your Subscriptions", list_billings_path, :class => 'link_button') : link_to("Subscribe Now!", new_billing_path, :class => 'link_button') %></li>
	<li><%= link_to("Edit Public Info", edit_profile_path, :class => 'link_button') %></li>
  <% end %>
<% end %>

<h1>Delete Your Free Membership Account</h1>

<% @content.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<%= debug @profile %>

<%= render(:partial => 'shared/error_messages', :locals => {:object => @profile}) %>

<%= semantic_form_for @profile, :url => delete_profile_path(@profile), :html => {:method => :delete} do |f| %>
  	<%= f.inputs do %>
		<%= f.input :reason, :label => "Reason", :placeholder => "Optional, but please let us know", :hint => "Why are you deleting your free Membership Account?", :as => "text", :size => 100, :input_html => { :size => "60x5", :autofocus => true} %>
	<% end %>
    <%= f.action :submit, :label => "Delete Subscription", :as => :button %>
	<%= f.action :cancel, :label => "Cancel", :as => :link %>
<% end %>

<!--
< %= button_to("Yes, Delete This Subscription", delete_billing_path(@billing), :method => :delete, :class => 'link_button') %>
< %= link_to("Cancel, Keep This Subscription", list_billings_path, :class => 'link_button') %>
-->