<% title "Edit Your Public Details" %>
<% description "Member's page for editing public information and details." %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
	<li><%= subscriber? ? link_to("Your Subscriptions", list_billings_path, :class => 'link_button') : link_to("Subscribe Now!", new_billing_path, :class => 'link_button') %></li>
	<li><%= link_to("List All Your Ratings", member_ratings_path(@self_profile), :class => 'link_button') %></li>
	<li><%= link_to("List All Members", profiles_path, :class => 'link_button') %></li>
<% end %>

<h1>Edit Your Public Info and Details</h1>
<%= render(:partial => 'shared/error_messages', :locals => {:object => @self_profile}) %>

<%= semantic_form_for @self_profile do |f| %>
    <%= f.inputs do %>
		<%= f.input :name, :label => "What alias do you want?", :placeholder => "Use anything! This is what everyone else will see as your name", :hint => "May change whenever, but must be different than everyone else", :input_html => { :autofocus => true, :maxlength => 100} %>
		<%= f.input :location, :label =>"What's your location?", :placeholder => "Where are you from, or where do you live, generally speaking", :hint => "Don't use an actual full address, this is visible to everyone!", :input_html => { :maxlength => 100} %>
		<%= f.input :age, :label =>"What's your age?", :placeholder => "Old, young? Gum doesn't care!", :hint => "How old would you be if you didn't know how old you are?", :input_html => { :maxlength => 100} %>
		<%= f.input :sex, :label =>"What's your gender?", :as => :select, :collection => ["Male", "Female", "Other"]%>
		<%= f.input :story, :size => 100, :label => "Anything else to share?", :placeholder => "Whatever you want here", :hint => "Your Gum thoughts, comments, stories, whatever :-)", :input_html => { :class => '', :rows => 5, :cols => 50, :maxlength => 1000 } %>
	<% end %>
    <%= f.action :submit, :label => "Update Your Public Info", :as => :button %>
	<%= f.action :cancel, :label => "Cancel", :as => :link %>
<% end %>

