<% title "Members List" %>
<% description "List of all Intl Gum Members along with their gum rating and voting stats." %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
<% end %>

<% content_for :search do %>
  <h4>Search Members</H4>
  <%= search_form_for @search_profiles do |f| %>
<ul id="member">
	<!-- NEED TO ADD IN MAX LENGTH FOR THESE HTML INPUT VALUES... -->
    <li><%= f.label :name, "Name" %></li>
    <li><%= f.text_field :name_cont, :default => @search_profiles.name %></li>
    <li><%= f.label :location, "Location" %></li>
    <li><%= f.text_field :location_cont, :default => @search_profiles.location %></li>
    <li><%= f.label :age, "Age" %></li>
    <li><%= f.text_field :age_cont, :default => @search_profiles.age %></li>
    <li><%= f.label :sex, "Sex" %></li>
    <li><%= f.select :sex_eq, ["","Male","Female","Other"], :default => @search_profiles.sex %></li>
	<!-- dynamic... <li>< %= f.collection_select :sex_eq, Profile.all, :id, :sex %></li>
		 checkboxes... <li>< % f.checks :sex_in, [['Male', "Male"], ["Female", "Female"] , ['Other', "Other"]] do |check| %>
				<ul id="sex">
					<li class="sex_label">< %= check.label %></li>
					<li class="sex_input">< %= check.box %></li>
				</ul>
			< % end %></li>
	-->
    <li><%= f.label :story, "Story" %></li>
    <li><%= f.text_field :story_cont, :default =>@search_profiles.story %></li>
</ul>

    <!-- add "when do and when don't (chew gum, duh)"-->
    <%= f.submit :class => 'search_button' %>
  <% end %>
<% end %>

<h1>Member List</h1>
<div id = 'sort'>
	Sort By:
	<li><%= sort_link @search_profiles, :gum_rating_relationships_profile_id, "Ratings", :default_order => :desc %></li>
	<li><%= sort_link @search_profiles, :user_votes_vote, "Votes", :default_order => :desc %></li>
	<li><%= sort_link @search_profiles, :updated_at, "Updated", :default_order => :desc %></li>
	<li><%= sort_link @search_profiles, :created_at, "Created", :default_order => :desc %></li>
</div>

<!--
< % @profiles_list.each do |p| %>
	<ul id="member_list">
		<li>Alias: < %= p.name %></li>
		<li># votes UP, # votes DOWN, # Gums Rated</li>
		<li>< %= link_to "View Details", profile_path(p) %>
	</ul>
< % end %>
-->
<% @profiles_list.each do |p| %>
	<ul class="list_container">	
		<li>
			<ul class="list_links">
				<li><%= link_to "Member Details", profile_path(p), :class => 'list_row_link' %></li>
				<li><%= link_to("Ratings List", member_ratings_path(p), :class => 'list_row_link') %></li>
			</ul>
		</li>
		<li>
			<ul class="member_list">
				<li class = "score"><div class = "header">Votes UP</div><%= p.user.vote_count(:up) %></li>
				<li class = "score"><div class = "header">Votes DOWN</div><%= p.user.vote_count(:down) %></li>
				<li class = "score"><div class = "header">Gums Rated</div><%= p.gums.active.count %></li>
				<li><%= p.name %></li>
				<li class = "comment"><%= p.story %></li>
			</ul>
		</li>
	</ul>
<% end %>

<%= paginate @profiles_list %>
<p iD = "page_info"><%= (page_entries_info @profiles_list, :entry_name => 'Members').html_safe %></p>
<%= paginate @profiles_list %>

