<% title "Members Details" %>
<% description "Detailed info and stats for an Intl Gum Member." %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
  <% if user_signed_in? and viewing_self?(@profile) %>
	<li><%= subscriber? ? link_to("Your Subscriptions", list_billings_path, :class => 'link_button') : link_to("Subscribe Now!", new_billing_path, :class => 'link_button') %></li>
	<li><%= link_to("Edit Your Public Info", edit_profile_path, :class => 'link_button') %></li>
  	<li><%= link_to("List Your Ratings", member_ratings_path(@profile), :class => 'link_button') %></li>
  <% else %>
	<li><%= link_to("List All Member's Ratings", member_ratings_path(@profile), :class => 'link_button') %></li>
<% end %>
	<li><%= link_to("List All Members", profiles_path, :class => 'link_button') %></li>
<% end %>

<h1>Member Details</h1>
<%= debug @profile %>
----------------------------------------<br \>
<p>Votes Up: <%= @profile.user.vote_count(:up) %></p>
<p>Votes Down: <%= @profile.user.vote_count(:down) %></p>



