<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<%= image_tag attachments['logo.png'].url -%>
	    <h1 style="color:#006699; font-family: Verdana, Geneva, sans-serif;">
			Welcome to <span style="color:#FF3366">Intl Gum</span>!
		</h1>
		<p style="color:#444343; font-family: Verdana, Geneva, sans-serif;">
			You successfully signed up to intlgum.com for a free membership, your login account is: <%= @user.email %>.
		</p>	
		<p style="color:#444343; font-family: Verdana, Geneva, sans-serif;">
			To login to the site, just follow this link: 
			<a style="color:#339933" href="<%= @login_url %>"<%= @login_url %></a> 	
			and to you edit your public info (currently empty) just visit the Member section at  
			<a style="color:#339933" href="<%= @edit_self_url %>"<%= @edit_self_url %></a>.
		</p>
		<p style="color:#444343; font-family: Verdana, Geneva, sans-serif;">
			Have a gumalicious day and we are very excited for your gum rankings, votes, opinions, and more!
		</p>
  </body>
</html>