<% title "All Gums List" %>
<% description "List of all gums with votes and ranking info for each." %>
<%= currently_at 'Gums' %>

<% content_for :sub_nav do %>
<% end %>

<% content_for :search do %>
  <h4>Search Gums</H4>
  <%= search_form_for @search_gums do |f| %>
	<ul id = "gum">
		<li><%= f.label :title_s, "Name" %></li>
	    <li><%= f.text_field :title_s, :maxlength => 100, :default => @search_gums.title %></li>
	    <li><%= f.label :brand_or_company_s, "Company/Brand" %></li>
	    <li><%= f.text_field :brand_or_company_s, :maxlength => 50, :default => @search_gums.brand_or_company %></li>	   
		<li><%= f.label :flavor_s, "Flavor" %></li>
	    <li><%= f.text_field :flavor_s, :maxlength => 50, :default => @search_gums.flavor %></li>
	    <li><%= f.label :description_s, "Description" %></li>
	    <li><%= f.text_field :description_s, :maxlength => 50, :default => @search_gums.description %></li>
		<!-- will add country search back in later, once more gums from other countries are in the system
	    	<li>< %= f.label :country, "Country" %></li>
			<li>< %= f.collection_select(:country_eq, @country_list, :country, :country, {:include_blank => true}) %><li>
	    -->
		<li><%= f.label :upc_s, "UPC" %></li>
		<li><%= f.text_field :upc_s, :maxlength => 50, :default => @search_gums.upc %></li>
	    <!-- will add new release search back in later, once there are some new releases defined
			<li>< %= f.label :new_release_eq, "New Release" %></li>
			<li>< %= f.select :new_release_eq, ["",["Yes","true"]], :default => @search_gums.new_release %></li>
		-->
	</ul>
    <%= f.submit :class => 'search_button'%>
  <% end %>
<% end %>

<h1>Gum List</h1>
<div id = 'sort'>
	Sort By:
	<li><%= sort_link @search_gums, :gum_rating_relationships_updated_at, "Last Rated", :default_order => :desc %></li>
	<li><%= sort_link @search_gums, :gum_rating_relationships_rank_1, "Gumtation", :default_order => :desc %></li>
	<li><%= sort_link @search_gums, :gum_rating_relationships_rank_2, "Chewlasticity", :default_order => :desc %></li>
	<li><%= sort_link @search_gums, :gum_rating_relationships_rank_3, "Flavoracity", :default_order => :desc %></li>
	<li><%= sort_link @search_gums, :gum_rating_relationships_rank_4, "Bubbability", :default_order => :desc %></li>
	<li><%= sort_link @search_gums, :gum_rating_relationships_rank_5, "Gumalicious", :default_order => :desc %></li>
	<li><%= sort_link @search_gums, :votes_vote, "Votes", :default_order => :desc %></li>
	<li><%= sort_link @search_gums, :gum_rating_relationships_average, "Rating", :default_order => :desc %></li>
</div>

<% @gums_list.each do |g| %>
<ul class="list_container">
<li>
	<ul class="list_links">
		<li><%= link_to "Gum Details", gum_path(g.permalink), :class => 'list_row_link' %></li>
		<li><%= link_to("Rate Gum", new_rating_path(g.permalink), :class => 'list_row_link') %></li>
		<li><%= link_to("Ratings List", gum_ratings_path(g.permalink), :class => 'list_row_link') %></li>
	</ul>
</li>
<li>
	<ul class="gum_list">
		<li class="rating">
			<p>Rating</p>
			<p><%= g.total_average_rating_to_score(g.id) %></p>
		</li>
		<li class="votes down">
			<% if g.votes_against > 0 %>
				<%= image_tag("list_bust.png", :title => "Bust") %>
			<% else %>
				<%= image_tag("bust_grey3.png", :title => "Bust") %>
			<% end %>
			<p><%= g.votes_against %></p>
		</li>
		<li class="votes up">
			<% if g.votes_for > 0 %>
				<%= image_tag("list_bubble.png", :title => "Bubble") %>
			<% else %>
				<%= image_tag("bubble_grey3.png", :title => "Bubble") %>
			<% end %>
			<p><%= g.votes_for %></p>
		</li>
		<li class="gum_logo_container">
			<%= image_tag(g.image_url(:thumb).to_s, :alt=>"Image of #{permalink_humanize(g.permalink)}", :class => 'gum_logo') %>
		</li>
		<li class="content">
			<p><%= legalize(g.brand) %></p>
			<p><%= legalize(g.flavor) %></p>
		</li>
		<li class="clear_row">
		</li>
<!--
		<li class="clear_list">
			<img><src="/assets/list_clear.gif"/></img>
		</li>	
-->
	</ul>
</li>
</ul><!-- end gum_container-->
<% end %>
<%= paginate @gums_list %>
<p iD = "page_info"><%= (page_entries_info @gums_list, :entry_name => 'Gums').html_safe %></p>

<% @content_legal.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>
