<%= f.input :subscription_name, :label => "Subscription Name", :placeholder => "Optional, but recommended", :hint => "Whatever you want to name this Subscription", :input_html => { :autofocus => true} %>
<h2>Shipping Details</h2>
<%= f.input :ship_first_name, :label => "First Name", :placeholder => "", :hint => "First name of recipient" %>
<%= f.input :ship_last_name, :label => "Last Name", :placeholder => "", :hint => "Last name of recipient" %>
<%= f.input :ship_street, :label => "Street Address", :placeholder => "", :hint => "Include app # or suite #" %>
<%= f.input :ship_city, :label => "City", :placeholder => "", :hint => "" %>
<%= f.input :ship_state_province, :label => "State", :placeholder => "", :hint => "" %>
<%= f.input :ship_postal_code, :label => "Postal Code", :placeholder => "", :hint => "", :input_html => { :size => 15, :maxlength => 10 } %>
<%= f.input :ship_country, :label => "Country", :placeholder => "", :hint => "We currently only deliver within the United States", :as => :select, :collection => ["United States"], :include_blank => false %>
<h2>Billing Details</h2>
<%= f.input :copy, :label => "Same as Shipping", :size => 10, :as => :check_boxes, :collection => [""], :input_html => {:onclick => "SetBilling(this.checked);"} %>
<%= f.input :bill_first_name, :label => "First Name", :placeholder => "", :hint => "As displayed on your card" %>
<%= f.input :bill_last_name, :label => "Last Name", :placeholder => "", :hint => "As displayed on your card" %>
<%= f.input :bill_street, :label => "Street Address", :placeholder => "", :hint => "As associated with your card" %>
<%= f.input :bill_city, :label => "City", :placeholder => "", :hint => "As associated with your card" %>
<%= f.input :bill_state_province, :label => "State", :placeholder => "", :hint => "As associated with your card" %>
<%= f.input :bill_postal_code, :label => "Postal Code", :placeholder => "", :hint => "As associated with your card", :input_html => { :size => 15, :maxlength => 10 } %>
<%= f.input :bill_country, :label => "Country", :placeholder => "", :hint => "As associated with your card" %>
<% if @billing.last_four %>
	<%= f.input :pan, :label => "Credit Card Number", :placeholder => "No spaces, just #s", :hint => "We only save your last 4 digits, currently we have *#{@billing.last_four}", :input_html => { :size => 25, :maxlength => 19 } %>
<% else %>
	<%= f.input :pan, :label => "Credit Card Number", :placeholder => "", :hint => "We only save your last 4 digits", :input_html => { :size => 19, :maxlength => 19 } %>
<% end %>
<%= f.input :expiry_month, :as => 'select', :label => "Expiration Month", :collection => ["01 - January", "02 - February", "03 - March", "04 - April", "05 - May", "06 - June", "07 - July", "08 - August", "09 - September", "10 - October", "11 - November", "12 - December"] %>
<%= f.input :expiry_year, :as => 'select', :label => "Expiration Year", :collection => year_range %>
<%= f.input :cvc, :label =>"CVC", :placeholder => "", :hint => "3 digits displayed on back of your card, we never save this info", :input_html => { :size => 3, :maxlength => 3 } %>	

<% @content_bottom.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<%= f.input :terms, :label => "Terms and Conditions Confirmation", :size => 10, :as => :boolean %>

<script type="text/javascript">

function SetBilling(checked) {
          if (checked) {
                    document.getElementById('billing_bill_first_name').value = document.getElementById('billing_ship_first_name').value; 
                    document.getElementById('billing_bill_last_name').value = document.getElementById('billing_ship_last_name').value;
                    document.getElementById('billing_bill_street').value = document.getElementById('billing_ship_street').value; 
                    document.getElementById('billing_bill_city').value = document.getElementById('billing_ship_city').value;
                    document.getElementById('billing_bill_state_province').value = document.getElementById('billing_ship_state_province').value; 
                    document.getElementById('billing_bill_postal_code').value = document.getElementById('billing_ship_postal_code').value;
          } else {
                    document.getElementById('billing_bill_first_name').value = ''; 
                    document.getElementById('billing_bill_last_name').value = '';
                    document.getElementById('billing_bill_street').value = ''; 
                    document.getElementById('billing_bill_city').value = '';
                    document.getElementById('billing_bill_state_province').value = ''; 
                    document.getElementById('billing_bill_postal_code').value = '';
          }
}

</script>