<ul class="rating_list">
	<li class = "score">
		<div class = "header"></br>Gumtation</div>
		<%= r.rank_1 %>
	</li>
	<li class = "score">
		<div class = "header">Chewlasticity</div>
		<%= r.rank_2 %>
	</li>
	<li class = "score">
		<div class = "header">Flavoracity</div>
		<%= r.rank_3 %>
	</li>
	<li class = "score">
		<div class = "header">Bubbability</div>
		<%= r.rank_4 %>
	</li>
	<li class = "score">
		<div class = "header">Gumaliciousness</div>
		<%= r.rank_5 %>
	</li>
	<li class = "comment">
		<%= r.comment %>
	</li>
</ul>