<div id = 'sort'>
	Sort By:
	<!-- choosing to not sort on total yet
	<li>< %= sort_link @search_ratings, :total, "Total Rating", :default_order => :desc %></li>
	-->
	<li><%= sort_link @search_ratings, :rank_1, "Gumtation", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_2, "Chewlasticity", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_3, "Flavoracity", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_4, "Bubbability", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_5, "Gumalicious", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :updated_at, "Updated", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :created_at, "Created", :default_order => :desc %></li>
</div>