<ul class="rating_list">
	<li class = "score">
		<div class = "header"></br>Gumtation</div>
		<%= r.gumtation %>
	</li>
	<li class = "score">
		<div class = "header">Initial Gumalicious</div>
		<%= r.initial_gumalicious %>
	</li>
	<li class = "score">
		<div class = "header">Overall Gumalicious</div>
		<%= r.overall_gumalicious %>
	</li>
	<li class = "score">
		<div class = "header">Gumalicious Gumgevity</div>
		<%= r.gumalicious_gumgevity %>
	</li>
	<li class = "score">
		<div class = "header">Flavoracity</div>
		<%= r.flavoracity %>
	</li>
	<li class = "score">
		<div class = "header">Initial Chewlasticity</div>
		<%= r.initial_chewlasticity %>
	</li>
	<li class = "score">
		<div class = "header">Overall Chewlasticity</div>
		<%= r.overall_chewlasticity %>
	</li>
	<li class = "score">
		<div class = "header">Chewlasticity Gumgevity</div>
		<%= r.chewlasticity_gumgevity %>
	</li>
	<li class = "score">
		<div class = "header">Bubbability</div>
		<%= r.bubbability %>
	</li>
	<li class = "score">
		<div class = "header">Breathalation</div>
		<%= r.breathalation %>
	</li>
	<li class = "comment">
		<%= r.comment %>
	</li>
</ul>