<p>Rate each characteristic for this gum with 0 as lowest and 10 as highest!</p>
<div id="rating_form">
<%= r.input :rank_1, :label => "Gumtation",
	:as => :select, :collection => ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
	:hint => "How good is the presentation, name, packaging, advertising, etc?" %>
	
<%= r.input :rank_2, :label => "Chewlasticity",
	:as => :select, :collection => ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
	:hint => "How long does a piece last, both flavor and texture?" %>

<%= r.input :rank_3, :label => "Flavoracity",
	:as => :select, :collection => ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
	:hint => "How accurate is the flavor?" %>

<%= r.input :rank_4, :label => "Bubbability",
	:as => :select, :collection => ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
	:hint => "How's the bubble blowing ability?" %>
	
<%= r.input :rank_5, :label => "Gumalicious",
	:as => :select, :collection => ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
	:hint => "How much do you enjoy the flavor and benefits?" %>

<%= r.input :comment, :label => false, :hint => "If desired, please also add comments about this gum above!", :input_html => { :class => '', :rows => 5, :cols => 100, :maxlength => 1000 } %>
</div>