<li class="gum_logo_container">
	<%= image_tag(get_gum(r.gum_id).image_url(:thumb).to_s, :alt=>"Image of #{permalink_humanize(get_gum(r.gum_id).permalink)}", :class => 'gum_logo') %>	
</li>
<li>
	<ul class="ratings_container">
		<li class = "ratings_row">
			<ul class = "ratings_set">
				<li class = "score">
					<div class = "header">Gumtation</div>
					<%= r.rank_1 %>
				</li>
				<li class = "score">
					<div class = "header">Chewlasticity</div>
					<%= r.rank_2 %>
				</li>
				<li class = "score">
					<div class = "header">Flavoracity</div>
					<%= r.rank_3 %>
				</li>
				<li class = "score">
					<div class = "header">Bubbability</div>
					<%= r.rank_4 %>
				</li>
				<li class = "score">
					<div class = "header">Gumalicious</div>
					<%= r.rank_5 %>
				</li>
			</ul><!-- end .ratings_set -->
		</li><!-- end .ratings_row -->
		<div id = "vote_results_bust">
			<% if get_profile_from_rating(r.profile_id).user.voted_against?(get_gum(r.gum_id)) %>
				<%= image_tag("bust3.png", :title => "Bust", :size => "48x48") %>
			<% else %>
				<%= image_tag("bust_grey3.png", :title => "Bust", :size => "48x48") %>
			<% end %>	
		</div>
		<div id = "vote_results_bubble">
			<% if get_profile_from_rating(r.profile_id).user.voted_for?(get_gum(r.gum_id)) %>
				<%= image_tag("bubble3.png", :title => "Bubble", :size => "48x48") %>
			<% else %>
				<%= image_tag("bubble_grey3.png", :title => "Bubble", :size => "48x48") %>
			<% end %>
		</div>
		<li class = "comment">
			<%= r.comment %>
		</li><!-- end .comment -->
	</ul><!-- end .ratings_container -->
</li>


