<% title "Chew It Over" %>
<% description "Summary of all rating results and member comments for all gums." %>
<%= currently_at 'Chew It Over' %>

<% content_for :sub_nav do %>
	<% if user_signed_in? %>
		<li><%= link_to("List Your Ratings", member_ratings_path(view_self), :class => 'link_button') %></li>
	<% end %>
<% end %>

<% content_for :search do %>
	<h4>Search Ratings</H4>
	<%= search_form_for @search_ratings, :url => { :action => "index" } do |f| %>
		<%= render(:partial => "shared/ratings_search", :locals => {:f => f}) %>
	    <%= f.submit :class => 'search_button' %>
	<% end %>
<% end %>

<h1>All Gum Ratings</h1>
<%= render(:partial => "shared/ratings_sort") %>

<% @ratings_list.each do |r| %>
	<ul class="list_container">	
		<li>
			<ul class="list_links">
				<li><%= link_to "Rating Details", rating_path(r), :class => 'list_row_link' %></li>
				<li><%= link_to "Gum Details", gum_path(get_permalink(r.gum_id)), :class => 'list_row_link' %></li>
				<li><%= link_to "Member Details", profile_path(r.profile_id), :class => 'list_row_link' %></li>
			</ul>
		</li>
		<li>
			<ul class = "rating_list">
				<li class="gum_logo_container">
					<%= image_tag(get_gum(r.gum_id).image_url(:thumb).to_s, :alt=>"Image of #{permalink_humanize(get_gum(r.gum_id).permalink)}", :class => 'gum_logo') %>	
				</li>
				<li>
					<%= render(:partial => "shared/ratings_list", :locals => {:r => r}) %>
				</li>
			</ul><!-- end .rating_list -->
		</li>
		<li class="clear_row">
		</li>
	</ul><!-- end .list_container -->
<% end %>	

<%= paginate @ratings_list %>
<p iD = "page_info"><%= (page_entries_info @ratings_list, :entry_name => 'Ratings').html_safe %></p>
