<% title "Chew It Over" %>
<% description "Summary of all rating results and member comments for all gums." %>
<%= currently_at 'Chew It Over' %>

<% content_for :sub_nav do %>
	<% if user_signed_in? %>
		<li><%= link_to("List Your Ratings", member_ratings_path(view_self), :class => 'link_button') %></li>
	<% end %>
<% end %>

<% content_for :search do %>
  <h4>Search Ratings</H4>
  <%= search_form_for @search_ratings, :url => { :action => "index" } do |f| %>
<ul id="rating"> 
    <p>Gumtation</p>
	<li><%= f.label :rank_1_gteq, "Low " %><%= f.text_field :rank_1_gteq, :maxlength => 2, :default => @search_ratings.rank_1 %></li>
    <li><%= f.label :grank_1_lteq, "High " %><%= f.text_field :rank_1_lteq, :maxlength => 2, :default => @search_ratings.rank_1 %></li>
	<p>Chewlasticity</p>
	<li><%= f.label :rank_2_gteq, "Low " %><%= f.text_field :rank_2_gteq, :maxlength => 2, :default => @search_ratings.rank_2 %></li>
	<li><%= f.label :rank_2_lteq, "High " %><%= f.text_field :rank_2_lteq, :maxlength => 2, :default => @search_ratings.rank_2 %></li>
	<p>Flavoracity</p>
	<li><%= f.label :rank_3_gteq, "Low " %><%= f.text_field :rank_3_gteq, :maxlength => 2, :default => @search_ratings.rank_3 %></li>
	<li><%= f.label :rank_3_lteq, "High " %><%= f.text_field :rank_3_lteq, :maxlength => 2, :default => @search_ratings.rank_3 %></li>
	<p>Bubbability</p>
	<li><%= f.label :rank_4_gteq, "Low " %><%= f.text_field :rank_4_gteq, :maxlength => 2, :default => @search_ratings.rank_4 %></li>
	<li><%= f.label :rank_4_lteq, "High " %><%= f.text_field :rank_4_lteq, :maxlength => 2, :default => @search_ratings.rank_4 %></li>
	<p>Gumaliciousness</p>
	<li><%= f.label :rank_5_gteq, "Low " %><%= f.text_field :rank_5_gteq, :maxlength => 2, :default => @search_ratings.rank_5 %></li>
	<li><%= f.label :rank_5_lteq, "High " %><%= f.text_field :rank_5_lteq, :maxlength => 2, :default => @search_ratings.rank_5 %></li>
    <p>Comment</p>
	<li id="comment"><%= f.text_field :comment_cont, :maxlength => 50, :default => @search_ratings.comment %></li>
</ul>
    <%= f.submit :class => 'search_button'%>
  <% end %>
<% end %>

<h1>All Gum Ratings</h1>
<div id = 'sort'>
	Sort By:
	<li><%= sort_link @search_ratings, :total, "Total Rating", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_1, "Gumtation", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_2, "Chewlasticity", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_3, "Flavoracity", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_4, "Bubbability", :default_order => :desc %></li>
	<li><%= sort_link @search_ratings, :rank_5, "Gumalicious", :default_order => :desc %></li>
</div>

<% @ratings_list.each do |r| %>
<ul class="list_container">	
	<li>
	<ul class="list_links">
		<li><%= link_to "Rating Details", rating_path(r), :class => 'list_row_link' %></li>
		<li><%= link_to "Gum Details", gum_path(get_permalink(r.gum_id)), :class => 'list_row_link' %></li>
		<li><%= link_to "Member Details", profile_path(r.profile_id), :class => 'list_row_link' %></li>
	</ul>
	</li>
	<li>

			<%= render(:partial => "shared/ratings_list", :locals => {:r => r}) %>

	</li>

</ul>
		
<% end %>	

<%= paginate @ratings_list %>
<p iD = "page_info"><%= (page_entries_info @ratings_list, :entry_name => 'Ratings').html_safe %></p>
