<% title "Create New Rating for #{@gum.title}" %>
<% description "Member page to create a new gum rating for #{@gum.title}." %>
<%= currently_at 'Gums' %>

<% content_for :sub_nav do %>
	<% if user_signed_in? %>
		<li><%= link_to "View Gum Details", gum_path(@gum.permalink), :class => 'link_button' %></li>
		<li><%= link_to("List All Ratings", gum_ratings_path(@gum.permalink), :class => 'link_button') %></li>
		<li><%= link_to("List All Gums", gums_path, :class => 'link_button') %></li>
	<% end %>
<% end %>

<%= render(:partial => "shared/votes") %>

<h1 id="no_clear">Create New Rating:</br><%=legalize(@gum.title) %></h1>

<%= render(:partial => 'shared/error_messages', :locals => {:object => @new_rating}) %>
<!--
< %= image_tag("gums/#{@gum.upc}.jpg", :alt=>"Image of #{permalink_humanize(@gum.permalink)}",:id => 'gum_image') %>
-->
<%= image_tag(@gum.image_url(:large).to_s, :alt=>"Image of #{permalink_humanize(@gum.permalink)}", :id => 'gum_image')%>

<div id="gum_text">
	<p><%= legalize(@gum.description) %></p>
	<p><%= legalize(@gum.note)%></p>
</div>

<%= semantic_form_for @new_rating do |r| %>
	<%= r.inputs do %>
		<%= render(:partial => "shared/ratings_form", :locals => {:r => r}) %>
	<% end %>
	<%= r.actions do %>
		<%= r.action :submit, :label => "Create Rating", :as => :button %>
		<%= r.action :cancel, :label => "Cancel", :as => :link %>
	<% end %>
 <% end %>

<!--
stat_1, stat_2, stat_3, comment
-->
<% @content_legal.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>