<% title "All Ratings for #{@gum.title}" %>
<% description "All gum ratings and member comments for #{@gum.title}" %>
<%= currently_at 'Gums' %>

<% content_for :sub_nav do %>
	<% if user_signed_in? %>
		<li><%= link_to("Rate This Gum", new_rating_path(@gum.permalink), :class => 'link_button') %></li>
	<% end %>
	<li><%= link_to("View Gum Details", gum_path(@gum.permalink), :class => 'link_button') %></li>	
	<li><%= link_to("List All Gums", gums_path, :class => 'link_button') %></li>
<% end %>

<% content_for :search do %>
	<h4>Search Ratings</H4>
	<%= search_form_for @search_ratings, :url => { :action => "per_gum" } do |f| %>
		<%= render(:partial => "shared/ratings_search", :locals => {:f => f}) %>
	    <%= f.submit :class => 'search_button' %>
	<% end %>
<% end %>

<% content_for :ads do %>
	<%= render(:partial => "shared/ad_content") %>
<% end %>

<h1>All Ratings for <%= legalize(@gum.title) %></h1>
<%= render(:partial => "shared/ratings_sort") %>
<% @ratings.each do |r| %>
<ul class="list_container">	
	<li>
		<ul class="list_links">
			<li><%= link_to "Rating Details", rating_path(r), :class => 'list_row_link' %></li>
			<li><%= link_to "Member Details", profile_path(r.profile_id), :class => 'list_row_link' %></li>
		</ul>
	</li>
	<li>
		<ul class = "rating_list">
			<%= render(:partial => "shared/ratings_list", :locals => {:r => r}) %>
		</ul>
	</li>
	<li class="clear_row">
	</li>
</ul>
		
<% end %>

<%= paginate @ratings %>
<p id = "page_info"><%= (page_entries_info @ratings, :entry_name => 'Ratings').html_safe %></p>

<% @content_legal.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>
