<% title "All Ratings for #{permalink_humanize(@gum.permalink)}" %> <!-- placeholder dude -->
<% description "Summary of all gum ratings and member comments for #{permalink_humanize(@gum.permalink)}" %>
<%= currently_at 'Gums' %>

<% content_for :sub_nav do %>
	<li><%= link_to("Gum Details", gum_path(@gum.permalink), :class => 'link_button') %></li>
	<li><%= link_to("List All Gums", gums_path, :class => 'link_button') %></li>
<% end %>

<h1>All Ratings for <%= permalink_humanize(@gum.permalink) %></h1> <!-- placeholder dude -->

<% @ratings.each do |r| %>
<ul class="list_container">	
	<li>
	<ul class="list_links">
		<li><%= link_to "Rating Details", rating_path(r), :class => 'list_row_link' %></li>
		<li><%= link_to "Member Details", profile_path(r.profile_id), :class => 'list_row_link' %></li>
	</ul>
	</li>
	<li>
		<%= render(:partial => "shared/ratings_list", :locals => {:r => r}) %>
	</li>
</ul>
		
<% end %>	

<%= paginate @ratings %>
<p id = "page_info"><%= (page_entries_info @ratings, :entry_name => 'Ratings').html_safe %></p>

<% @content_legal.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>
