<% title "All Ratings for #{@gum.title}" %>
<% description "All gum ratings and member comments for #{@gum.title}" %>
<%= currently_at 'Gums' %>

<% content_for :sub_nav do %>
	<li><%= link_to("View Gum Details", gum_path(@gum.permalink), :class => 'link_button') %></li>
	<% if user_signed_in? %>
		<li><%= link_to("Rate This Gum", new_rating_path(@gum.permalink), :class => 'link_button') %></li>
	<% end %>
	<li><%= link_to("List All Gums", gums_path, :class => 'link_button') %></li>
<% end %>

<h1>All Ratings for <%= legalize(@gum.title) %></h1>

<% @ratings.each do |r| %>
<ul class="list_container">	
	<li>
	<ul class="list_links">
		<li><%= link_to "Rating Details", rating_path(r), :class => 'list_row_link' %></li>
		<li><%= link_to "Member Details", profile_path(r.profile_id), :class => 'list_row_link' %></li>
	</ul>
	</li>
	<li>
		<%= render(:partial => "shared/ratings_list", :locals => {:r => r}) %>
	</li>
</ul>
		
<% end %>

<%= paginate @ratings %>
<p id = "page_info"><%= (page_entries_info @ratings, :entry_name => 'Ratings').html_safe %></p>

<% @content_legal.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>
