<% title "Welcome - Contact Info" %>
<% description "Intl Gum toll free contact phone number and email address." %>
<%= currently_at 'Home' %>

<% content_for :sub_nav do %>
	<li><%= link_to("About", welcomes_about_path, :class => 'link_button') %></li>
	<li><%= link_to("FAQs", welcomes_faq_path, :class => 'link_button') %></li>
	<li><%= link_to("News", welcomes_news_path, :class => 'link_button') %></li>
<% end %>

<% content_for :ads do %>
	<%= render(:partial => "shared/ad_content") %>
<% end %>

<h1>Contact Info</h1>	

<div id="phone_pre">Toll Free #</div>
<div id="phone">(855) GUM-4YOU</div>
<div id="phone_post">4 8 6 - 4 9 6 8</div>

<% @content.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<div class="email"><a href="mailto:support@intlgum.com?Subject=Please%20Help">support@intlgum.com</a></div> | 
<div class="email"><a href="mailto:info@intlgum.com?Subject=Hello%20Intl%20Gum">info@intlgum.com</a></div> | 
<div class="email"><a href="mailto:sales@intlgum.com?Subject=Hello%20Intl%20Gum">sales@intlgum.com</a></div> | 
<div class="email"><a href="mailto:partners@intlgum.com?Subject=Hello%20Intl%20Gum">partners@intlgum.com</a> | 
<div class="email"><a href="mailto:press@intlgum.com?Subject=Hello%20Intl%20Gum">press@intlgum.com</a></div> | 
<div class="email"><a href="mailto:feedback@intlgum.com?Subject=Hello%20Intl%20Gum">feedback@intlgum.com</a></div>

<div class="social">
	<%= link_to image_tag("twitter_small2.png", :title => "Intl Gum on Twitter"), "http://twitter.com/intlgum", :target => "_blank", :class => 'icon' %>
	<%= link_to image_tag("facebook_small.png", :title => "Intl Gum on Facebook"), "http://www.facebook.com/pages/Intl-Gum/171851066306613", :target => "_blank", :class => 'icon' %>
	<%= link_to image_tag("google_plus_small.png", :title => "Intl Gum on Google +"), "https://plus.google.com/b/112943310809486140740/", :target => "_blank", :class => 'icon' %>
</div>