<% title "Home" %>
<% description "Welcome to Intl Gum! Your #1 source for gum information and interactions." %>
<%= currently_at 'Home' %>

<% content_for :sub_nav do %>
	<li><%= link_to("About", welcomes_about_path, :class => 'link_button') %></li>
 	<li><%= link_to("Contact", welcomes_contact_info_path, :class => 'link_button') %></li>
 	<li><%= link_to("FAQs", welcomes_faq_path, :class => 'link_button') %></li>
	<li><%= link_to("News", welcomes_news_path, :class => 'link_button') %></li>
<% end %>

<h1>Welcome To Intl Gum</h1>

<% @content_top.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<div class="slideshow">
	<%= image_tag("welcome.png", :title => "Welcome to Intl Gum", :size => "394x388") %>
	<img src="http://cloud.github.com/downloads/malsup/cycle/beach1.jpg" width="200" height="200" />
	<img src="http://cloud.github.com/downloads/malsup/cycle/beach2.jpg" width="200" height="200" />
</div>
<!-- old way, static image without cycle
< %= image_tag("welcome.png", :title => "Welcome", :id => "welcome") %>
-->
<% @content_bottom.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

