<% title "Returns & Refunds" %>
<% description "Information about Intl Gum Returns and Refunds policies." %>
<%= currently_at 'Home' %>

<% content_for :sub_nav do %>
	<li><%= link_to("About", welcomes_about_path, :class => 'link_button') %></li>
	<li><%= link_to("Contact", welcomes_contact_info_path, :class => 'link_button') %></li>
	<li><%= link_to("FAQs", welcomes_faq_path, :class => 'link_button') %></li>
	<li><%= link_to("News", welcomes_news_path, :class => 'link_button') %></li>
<% end %>

<% content_for :ads do %>
	<%= render(:partial => "shared/ad_content") %>
<% end %>

<h1>Returns and Refunds</h1>

<% @content.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>
