<% title "Subscriptions List" %>
<% description "List of Gums for every monthly Subscription shipment." %>
<%= currently_at 'Subscriptions' %>

<% content_for :sub_nav do %>
	<% if user_signed_in? %>
		<!-- subscriptions disabled in November 2014 -->
		<!-- <li>< %= subscriber? ? link_to("Your Subscriptions", list_billings_path, :class => 'link_button') : link_to("Subscribe Now!", new_billing_path, :class => 'link_button') %></li> -->
	<% else %>
		<!-- <li>< %= link_to "Create Subscription", new_billing_path, :class => 'link_button' %></li> -->
	<% end %>
<% end %>

<% content_for :ads do %>
	<%= render(:partial => "shared/ad_content") %>
<% end %>

<% @canceled_text.each do |c| %>
	<p id=<%= "canceled" %>><%= c.content %></p>
<% end %>

<h1>Monthly Subscription Contents</h1>

<% @content.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<% if @shipments.empty? %>
	No prior monthly subscription info yet because the first one will be on May 8th 2013.</br></br>Sign up now to enjoy the first shipment!
<% else %>
	<% @shipments.each do |s| %>
		<ul class="list_container">
		<li>
			<ul class="shipment_list">
				<!-- not displaying total count for now
				<li class="count">
					Total Gum Pieces: < %= s.get_monthly_pieces(s.id) %>
				</li>
				-->
				<li class="shipment_header">
					<%= s.month_formatted(s.ship_date) %>
				</li>
				<li class="shipment_gums">
						<% s.get_monthly_gums(s.id).each do |g| %>
							<li class="sub_gum_logo_container">
						  		<%= link_to image_tag(g.gum.image_url(:thumb).to_s, :alt=>"Image of #{permalink_humanize(g.gum.permalink)}", :class => 'sub_gum_logo'), gum_path(g.gum.permalink) %>
							</li>
						<% end %>
				</li>
			</ul><!-- end shipments_list-->
		</li>
		</ul><!-- end list_container-->
	<% end %>
<% end %>
<%= paginate @shipments %>
<p id = "page_info"><%= (page_entries_info @shipments, :entry_name => 'Shipments').html_safe %></p>