<% title "Delete/Cancel Existing Subscription" %>
<% description "Member's page for canceling and deleting a Subscription." %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
	<li><%= link_to("Your Subscriptions", list_billings_path, :class => 'link_button') %></li>
<% end %>

<h1>Cancel and Delete a Subscription</h1>
<%= render(:partial => 'shared/error_messages', :locals => {:object => @billing}) %>

<% @content.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<%= debug @billing %>

<%= semantic_form_for @billing, :url => delete_billing_path(@billing), :html => {:method => :delete} do |f| %>
  	<%= f.inputs do %>
		<%= f.input :reason, :label => "Reason", :placeholder => "Optional, but please let us know", :hint => "Why are you canceling this Subscription?", :as => "text", :size => 100, :input_html => { :size => "60x5", :autofocus => true} %>
	<% end %>
    <%= f.action :submit, :label => "Delete Subscription", :as => :button %>
	<%= f.action :cancel, :label => "Cancel", :as => :link %>
<% end %>

<!--
< %= button_to("Yes, Delete This Subscription", delete_billing_path(@billing), :method => :delete, :class => 'link_button') %>
< %= link_to("Cancel, Keep This Subscription", list_billings_path, :class => 'link_button') %>
-->