<% title "Delete/Cancel Existing Subscription" %>
<% description "Member's page for canceling and deleting a Subscription." %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
	<li><%= link_to("Your Subscriptions", list_billings_path, :class => 'link_button') %></li>
<% end %>

<h1>Cancel and Delete a Subscription</h1>
<%= render(:partial => 'shared/error_messages', :locals => {:object => @billing}) %>

<% @content.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>
</br>
<p>Subscription Name: <%= @billing.subscription_name %></p>
<p>Payment Card Last 4 Digits: <%= @billing.last_four %></p>
<p>Payment Card Expiry Month: <%= @billing.expiry_month %></p>
<p>Payment Card Expiry Year: <%= @billing.expiry_year %></p>
<p>Shipping Info:</br>
<%= @billing.ship_first_name %> <%= @billing.ship_last_name %></br>
<%= @billing.ship_company %></br>
<%= @billing.ship_street %></br>
<%= @billing.ship_city %>, <%= @billing.ship_state_province %> <%= @billing.ship_postal_code %> <%= @billing.ship_country %></br>
</p>
<p>Billing Info:</br>
<%= @billing.bill_first_name %> <%= @billing.bill_last_name %></br>
<%= @billing.bill_company %></br>
<%= @billing.bill_street %></br>
<%= @billing.bill_city %>, <%= @billing.bill_state_province %> <%= @billing.bill_postal_code %> <%= @billing.bill_country %></br>
</p>

<p>Subscription Created: <%= @billing.created_at %></p>
<p>Subscription Last Updated: <%= @billing.updated_at %></p>
</br>
</br>

<%= semantic_form_for @billing, :url => delete_billing_path(@billing.subscription_number), :method => :delete do |f| %>
  	<%= f.inputs do %>
		<%= f.input :reason, :label => "Reason", :placeholder => "Optional, but please let us know", :hint => "Why are you canceling this Subscription?", :as => "text", :size => 100, :input_html => { :size => "60x5", :maxlength => 5000, :autofocus => true} %>
	<% end %>
    <%= f.action :submit, :label => "Delete Subscription", :as => :button %>
	<%= f.action :cancel, :label => "Cancel", :as => :link %>
<% end %>