<% title "Edit Existing Subscription" %>
<% description "Member's page for editing an already existing and Active Subscription." %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
	<li><%= link_to("Past Shipments", subscriptions_path, :class => 'link_button') %></li>
	<li><%= link_to("Your Subscriptions", list_billings_path, :class => 'link_button') %></li>
<% end %>

<% @content_top.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<div id="subscription_status"><%= subscriber? ? "Your currently active Subscriptions total is  #{subscription_count}" : "You do not yet have any active subscriptions" %></div>

<h1>Edit Your Existing Subscription</h1>
<%= render(:partial => 'shared/error_messages', :locals => {:object => @billing}) %>

<%= semantic_form_for @billing, :url => edit_billing_path, :html => {:method => :put} do |f| %>
    <%= f.inputs do %>
		<%= render(:partial => "shared/billings_form", :locals => {:f => f}) %>
		<div id="billing_edit_disabled">
		<p class="bill_edit_comment">Sorry, we are unable to edit your recurring subscriptions card info :(</p>
		<p class="bill_edit_comment">If you need to make a change, please delete this subscription and create a new one.</p>
		<%= f.input :pan, :label => "Credit Card Number", :placeholder => "We only save your last 4 digits: *#{@billing.last_four}",
					:input_html => { :size => 40, :maxlength => 19, :disabled => true } %>
		<%= f.input :expiry_month, :as => 'select', :label => "Expiration Month", :collection => ["01 - January", "02 - February", "03 - March", "04 - April", "05 - May", "06 - June", "07 - July", "08 - August", "09 - September", "10 - October", "11 - November", "12 - December"],
		 			:input_html => { :disabled => true } %>
		<%= f.input :expiry_year, :as => 'select', :label => "Expiration Year", :collection => year_range, :input_html => { :disabled => true } %>
		</div>
		<% @content_bottom.each do |c| %>
			<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
		<% end %>
		<%= f.input :terms, :label => "Terms and Conditions Confirmation", :size => 10, :as => :boolean %>
	<% end %>
 	<%= f.action :submit, :label => "Update Subscription", :as => :button %>
	<%= f.action :cancel, :label => "Cancel" %>
<% end %>
