<% title "Create New Subscription" %>
<% description "Member's page for creating a New Subscription." %>
<%= currently_at 'Members' %>

<% content_for :sub_nav do %>
	<li><%= link_to("Past Shipments", subscriptions_path, :class => 'link_button') %></li>
	<li><%= link_to("Your Subscriptions", list_billings_path, :class => 'link_button') %></li>
<% end %>

<% @content_top.each do |c| %>
	<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
<% end %>

<div id="subscription_status"><%= subscriber? ? "Your currently active Subscriptions total is  #{subscription_count}" : "You do not yet have any active subscriptions" %></div>

<h1>Your Private New Subscription Info</h1>

<%= render(:partial => 'shared/error_messages', :locals => {:object => @billing}) %>

<%= semantic_form_for @billing, :url => new_billing_path, :html => {:method => :post} do |f| %>
  	<%= f.inputs do %>
		<%= render(:partial => "shared/billings_form", :locals => {:f => f}) %>
		<!-- new billing card fields here -->
		<% if @billing.last_four %>
			<%= f.input :pan, :label => "Credit Card Number", :placeholder => "No spaces, just #s",
						:hint => "We only save your last 4 digits, currently we have *#{@billing.last_four}",
						:input_html => { :size => 25, :maxlength => 19 } %>
		<% else %>
			<%= f.input :pan, :label => "Credit Card Number", :placeholder => "", :hint => "We only save your last 4 digits",
						:input_html => { :size => 19, :maxlength => 19 } %>
		<% end %>
		<%= f.input :expiry_month, :as => 'select', :label => "Expiration Month", :collection => ["01 - January", "02 - February", "03 - March", "04 - April", "05 - May", "06 - June", "07 - July", "08 - August", "09 - September", "10 - October", "11 - November", "12 - December"] %>
		<%= f.input :expiry_year, :as => 'select', :label => "Expiration Year", :collection => year_range %>
		<%= f.input :cvc, :label =>"CVC", :placeholder => "",
					:hint => "3 digits displayed on back of your card, we never save this info",
					:input_html => { :size => 3, :maxlength => 3 } %>	
		<% @content_bottom.each do |c| %>
			<p class=<%= "size_#{c.size}" %>><%= c.content %></p>
		<% end %>
		<%= f.input :terms, :label => "Terms and Conditions Confirmation", :size => 10, :as => :boolean %>
	<% end %>
    <%= f.action :submit, :label => "Create Subscription", :as => :button %>
	<%= f.action :cancel, :label => "Cancel", :as => :link %>
<% end %>

