<footer id="page_footer">
  <ul> 
	<li><%= link_to("Privacy & Security", welcomes_privacy_and_security_path) %></li>
	<li><%= link_to("Returns & Refunds", welcomes_returns_and_refunds_path) %></li>
    <li><%= link_to("Shipping Policy", welcomes_shipping_policy_path) %></li>
	<li><%= link_to("Contact Info", welcomes_contact_info_path) %></li>
	<li><%= link_to("Corporate Info", welcomes_corporate_info_path) %></li>
  </ul>
  International Gum Inc.
</footer>