<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Intl Gum - <%= yield :title %></title>
	<meta name="description" content="<%= yield :description %>"/>
	<meta name="keywords" content="gum, intl gum, international gum" />
	<meta name="author" content="International Gum Inc." />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	<script src="dist/html5shiv-printshiv.js"></script>
	<![endif]-->
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#slideshow').cycle({
				fx: 'fade', // transition type, ex: fade, scrollUp, shuffle, etc...
				speed:    1000, // defines the number of milliseconds it will take to transition from one slide to the next
			    timeout:  5000, // specifies how many milliseconds will elapse between the start of each transition
				next:   '#slideshow', 
				pause:   1
			});
		});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-41576307-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>
  <body>
	<div id="wrapper">
		<%= render 'layouts/header' %>
	    <% if notice %><p class="notification notice"><%= notice %></p><% end %>
	    <% if alert %><p class="notification alert"><%= alert %></p><% end %>
		<div id="container">
	      <section id="content">
	        <%= yield %>
	      </section>
	      <!-- end content -->
	  	  <section id="sidebar">
			<nav id="sub_nav">
				<h3>Other Options</h3>
				<ul>
		    	<% unless user_signed_in? %>
					<li><%= link_to "Sign In", new_user_session_path, :class => 'link_button' %></li>
					<li><%= link_to "Create Account", new_user_registration_path, :class => 'link_button' %></li>
				<% else %>
					<li><%= link_to("Edit Your Account", edit_profile_path, :class => 'link_button') %></li>
					<li><%= link_to("View Your Account", profile_path(view_self), :class => 'link_button') %></li>
				<% end %>
				<%= yield :sub_nav %>
				</ul>
			</nav>
			<!-- end sub_nav -->
			<section id="search">
				<%= yield :search %>
			</section>
		    <!-- end search -->
			<%= yield :ads %>
		  </section>
	      <!-- end sidebar -->
				<!-- amazon affiliate program impression reporting -->
				<script type="text/javascript" src="http://ir-na.amazon-adsystem.com/s/impression-counter?tag=ingu0d-20&o=1"></script>
				<noscript><img src="http://ir-na.amazon-adsystem.com/s/noscript?tag=ingu0d-20" alt="" /></noscript>
				<!-- end amazon impression reporting -->
		</div>
	  	<!-- end container -->
	<div id="sticky_footer_push"></div>
	</div>
	<!-- end wrapper -->
	<%= render 'layouts/footer' %>
  </body>
</html>
